<% title 'Songs' %>

<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Site</th>
    <th>Url</th>
    <th colspan="2">Actions</th>
  </tr>

<% @songs.each do |song| %>
  <tr class="song" id="song-<%= song.id %>">
    <td><%= song.artist %></td>
    <td><%= link_to song.title, song %></td>
    <td><%= link_to song.site.name, song.site %></td>
    <td><%= link_to 'URL', song.url %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
