%div[item]
  %p #{link_to item.song.title, item.song} by #{item.song.artist}
  %p
    #{link_to_function 'play', "playlist.load(#{item.id})"} - 
    #{link_to 'download', song_path(item.song, :format => 'mp3')} - 
    #{link_to 'remove', playlist_item_path(item.playlist, item), :method => :delete, :remote => true} 
  :javascript
    $("#{item.css_selector}").data(#{item.song.to_json});
