%h1{:id => "playlist_name"}= playlist.name
- unless playlist.anonymous?
  :javascript
    $('#playlist_name').editInPlace({
      url: "#{playlist_path(playlist)}",
      show_buttons: true,
      update_value: 'playlist[name]',
      saving_text: 'Saving...'
    });

#empty No songs... try adding one!
- unless playlist.songs.empty?
  :javascript
    $('#empty').hide();

#player 
  You need flash to listen to music.

#position_slider

#stats
  %span#time 0:00
  %span#load 0.0%

#controls
  = link_to_function '<<', 'playlist.previous()'
  |
  = link_to_function 'play', 'playlist.play()'
  |
  = link_to_function 'pause', 'playlist.pause()'
  |
  = link_to_function '>>', 'playlist.next()'

:javascript
  var so = new SWFObject('/flash/player.swf','ply','0','0','9');
  so.addParam('allowfullscreen','false');
  so.addParam('allowscriptaccess','always');
  so.write('player');

#items= render :partial => "playlist_items/item", :collection => playlist.items
:javascript
  $('#items').sortable({
    axis: 'y',
    stop: function (event, ui) {
      var id = ui.item.attr('id').split('_')[2];
      $.ajax({
        url: "playlists/current/items/" + id,
        type: "PUT",
        data: {
          position: ui.item.index() + 1 
        },
        dataType: 'script'
      });
    }
  });
