%h1 Listing playlists

%table
  %tr
    %th Name
    %th User
    %th Songs
    %th
    %th
    %th

  - @playlists.each do |playlist|
    %tr
      %td= playlist.name
      %td= playlist.user_id
      %td= playlist.items.count
      %td= link_to 'Show', playlist
      %td= link_to 'Load', load_playlist_path(playlist), :remote => true
      %td= link_to 'Destroy', playlist, :confirm => 'Are you sure?', :method => :delete
