%p
  %b Name:
  = @playlist.name
%p
  %b User:
  - if @playlist.anonymous?
    Anonymous
  - else
    = link_to @playlist.user.username, @playlist.user
%p
  %b Songs:
  %ol
    - @playlist.songs.each do |song|
      %li= link_to song, song

= link_to 'Load', load_playlist_path(@playlist), :remote => true
|
= link_to 'Back', playlists_path
